@import 'variables';
// smallest things
//links
//div
//body
//html tag
//paragraphs
//images
//headers

@mixin mainpara{
font-family: $bodyfont;
color: $textcolor;
}

body{
    background-color:$background-color;
    opacity: .3;

}

h1,
h2, 
h3{font-family: $headerfont;
    line-height: normal;
}

h1{
    font-size: 3em;
    
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}
a{
    color: $textcolor;
    &:hover{
        color:$accentcolor2;//purple
    }
    &:visited{
        color:$accentcolor3;//teal
    }
    
}
p{
@include mainpara;
}