//import
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mali&display=swap');

//colors
$maincolor:#9A031E;
$accentcolor:#E36414;
$accentcolor2:#5f0f40;
$accentcolor3:#0f4c5c;
$background-color:#9c876a;
$textcolor:#000000;

//fonts
$headerfont: 'Mali', cursive;
$bodyfont: 'Lora', serif;
