@import 'variables';
// smallest things
//links
//div
//body
//html tag
//paragraphs
//images
//headers

@mixin mainpara{
font-family: $bodyfont;
color: $textcolor;
}

body {
    background-color: $background-color;
   
}

h1,
h2, 
h3{font-family: $headerfont;
    line-height: normal;
    color: $accentcolor2;
}

h1 {
    font-size: 3em;
    color: #9a031e; 
    margin-block-end: 0;
}

h2 {
    font-size: 1.5em;
    margin-block-start: 0;
    color: #9a031e;
}

h3{
    font-size: 1.5em;
}
a{
    color: $textcolor;
    &:hover{
        color:$accentcolor;//orange
    }
    &:visited{
        color:$maincolor;//red
    }
    
}
p{
@include mainpara;
}
