@import 'variables';

@media screen and (min-width: $medium) {}

@media screen and (min-width: $large) {
	.page-wrapper {
		display: grid;
		// change this later
		grid-template-columns: 1fr 1fr 2fr;
		grid-template-rows: auto;
		// grid-gap: 20px;  
	}

	// section intro = banner, summary, preamble 
	.intro {
		// lg grid placement within .page-wrapper
		grid-column: 3;
		grid-row: 1;
		// small grid setup .intro
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, auto);
		padding-right: 30px;
	}

	[role=banner] {
		//  css grid garden/ the beauty
		// small grid placement within .intro
		grid-column: 1/5;
		text-align: right;
	}

	.summary {
		// a demonstration / download....
		// small grid placement within .intro
		grid-column: 2/5;
		grid-row: 2;
		text-align: right;
	}

	.preamble {
		// road to enlightenment
		// small grid placement within .intro
		grid-column: 2/4;
		grid-row: 3;
		text-align: right;
	}

	// div main = explanation, participation, benefits, requirements footer
	.main {
		// lg grid placement within .page-wrapper
		grid-column: 3;
		grid-row: 2;
		// small grid set .main
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, auto);
		grid-gap: 10px;
		padding: 30px;

	}

	.explanation {
		// So What is this all about
		// small grid placement within .main
		grid-column: 2/5;
		grid-row: 1;
	}

	.participation {
		// small grid placement within .main
		grid-column: 1/4;
		grid-row: 2;
	}

	.benefits {
		// small grid placement within .main
		grid-column: 2/5;
		grid-row: 3;
	}

	.requirements {
		// small grid placement within .main
		grid-column: 1/4;
		grid-row: 4;
	}

	footer {
		// small grid placement within .main
		grid-column: 1/-1;
		grid-row: 5;
	}

	// aside sidebar = wrapper, design selection, design-archives, zen-resources
	.sidebar {
		
		// lg grid placement within .page-wrapper
		grid-column: 1;
		grid-row: 2;

		// small grid
		padding-left: 75px;	
		text-align: center;
	
	}

	.wrapper{

		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows:525px 275px 800px ;
		li {
			list-style: none;
		}
		.design-selection{
			// small grid within .sidebar
			grid-column: 1/3;
			grid-row: 2;
			list-style: none;


		}

		.design-archives{
			// small grid within .sidebar
			grid-column: 1;
			grid-row: 3;

		}
		.zen-resources {
			grid-column: 2;
			grid-row: 3;
		}
		
	}
}







//nav

//#zen-intro{
//    display:block;
//    content:url(images/leaf#1.png);
//}