@import 'variables';
//html
//head
//body

body {
	background-color: $backgroundcolor;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
	//background: rgb(52,47,87);
	//background: linear-gradient(180deg, rgba(52,47,87,1) 0%, rgba(130,87,118,1) 35%, rgba(234,98,72,1) 100%);
>>>>>>> Stashed changes
=======
	//background: rgb(52,47,87);
	//background: linear-gradient(180deg, rgba(52,47,87,1) 0%, rgba(130,87,118,1) 35%, rgba(234,98,72,1) 100%);
>>>>>>> Stashed changes
}

.extra5 {
	background-image: url(./images/pumpkins.png);
	height: 115px;
	background-size: 262px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom ;
	bottom: 100px;
	padding: 30px;
}

footer::after{
	content:"Tree image found at clipartix.com (fall tree clipart #61010). Pumpkins found at clipartmax.com. Liscensed for personal use.";
	font-size: 13px;
	color: $accentcolor3;
}

@media screen and (max-width: $small){
	.page-wrapper{
		background-image: url(./images/leaves-1.png);
		background-size: 400px;
		background-color:$backgroundcolor;
		background-repeat: repeat;
		background-attachment: fixed;
		background-blend-mode: soft-light;
	}
	ul{
		list-style:none;
	}
	h3.select,
	h3.resources,
	h3.archives {
		margin: 10px;
		
	}
	ul{
		margin: 10px;
		padding-bottom: 25px;
		padding-left: 0;
	}
}

@media screen and (max-width: $large) and (min-width: $medium) {
	body{
		background-image: url(./images/small_section.png);
		background-size: 400px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-blend-mode: soft-light;
	}

	.page-wrapper{
		
		display:grid;
		grid-template-columns: repeat(5,1fr);
		padding-right: 10px;
	}
	.intro{
		
		grid-column:3/6;
		text-align:right;
	}
	#zen-supporting{
		
		grid-column:3/6;
		text-align:right;
	}
	.sidebar{
		grid-column: 2/6;
	}
	.wrapper{
		
		display:grid;
		grid-template-columns: repeat(3, 1fr);
}
ul{
	list-style-type:none;
}

}

//large
@media screen and (min-width: $large) {
	.main_div {
		margin: auto;
		border: 3px solid black;
		width: 40%;
		padding: 5px;
	}

	body {
		background-image: url(./images/treeupdate.png);
		background-size: 450px;
		background-repeat: no-repeat;
		background-attachment: fixed;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
=======
		//background: rgb(130,87,118);
		//background: linear-gradient(180deg, rgba(130,87,118,1) 0%, rgba(209,123,119,1) 50%, rgba(234,98,72,1) 100%);
>>>>>>> Stashed changes
=======
		//background: rgb(130,87,118);
		//background: linear-gradient(180deg, rgba(130,87,118,1) 0%, rgba(209,123,119,1) 50%, rgba(234,98,72,1) 100%);
>>>>>>> Stashed changes
	}

	.extra5 {
		background-image: url(./images/pumpkins.png);
		height: 250px;
		background-size: 575px;
		background-repeat: no-repeat;
	}
}