@import 'variables';
//html
//head
//body

body {
	background-color: $backgroundcolor;
}

.extra5 {
	background-image: url(./images/pumpkins.png);
	height: 115px;
	background-size: 262px;
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-position: bottom;
	bottom: 100px;
	padding: 30px;
}

@media screen and (max-width: $small){
	/*we have some options, it looks ok as the background of the body?
	body{
		background-image: url(./images/gifleavestest.gif);
		background-size: 400px;
		background-repeat: repeat;
		background-attachment: fixed;
		background-blend-mode: soft-light;
	}*/
	.page-wrapper{
		//background-image: url(./images/leaves-1.png);
		//ok i'm going to leave this as a joke? maybe? I dunno I love it.
	
		background-image: url(./images/gifleavestest.gif);
		background-size: 400px;
		background-repeat: repeat;
		background-attachment: fixed;
		background-blend-mode: soft-light;
	}
}

@media screen and (max-width: $large) and (min-width: $medium) {
	body{
		background-image: url(./images/small_section.png);
		background-size: 400px;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-blend-mode: soft-light;
	}

	.page-wrapper{
		
		display:grid;
		grid-template-columns: repeat(5,1fr);
		padding-right: 10px;
	}
	.intro{
		
		grid-column:3/6;
		text-align:right;
	}
	#zen-supporting{
		
		grid-column:3/6;
		text-align:right;
	}
	.sidebar{
		grid-column: 2/6;
	}
	.wrapper{
		
		display:grid;
		grid-template-columns: repeat(3, 1fr);
}
ul{
	list-style-type:none;
}

}

//large
@media screen and (min-width: $large) {
	.main_div {
		margin: auto;
		border: 3px solid black;
		width: 40%;
		padding: 5px;
	}

	body {
		background-image: url(./images/treeupdate.png);
		background-size: 950px;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	.extra5 {
		background-image: url(./images/pumpkins.png);
		height: 250px;
		background-size: 575px;
		background-repeat: no-repeat;
	}
}