@import 'variables';
//html
//head
//body
.main_div{
    margin:auto;
    border: 3px solid black;
    width: 40%;
    padding: 5px;
}
body {
    background-color: $background-color;
    background-image: url(./images/1926201.png);
    background-size:850px;
    background-repeat: no-repeat;
}