//import
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Mali&display=swap');

//media breakpoints
$medium: 426px;
$large: 769px;

//colors
$maincolor:#9A031E;
$accentcolor:#CE5A12;
$accentcolor2:#5f0f40;
$accentcolor3:#0f4c5c;
$backgroundcolor:#C6BAA9;

$textcolor:#000000;

//fonts
$headerfont: 'Mali', cursive;
$bodyfont: 'Lora', serif;

//font sizes
$links: .8em;
$bodyfontsize: 1em;

