@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mali&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mali&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Mali&display=swap");
body {
  font-size: 1em; }

a {
  font-size: 0.8em; }

h1,
h2,
h3 {
  font-family: "Mali", cursive;
  line-height: normal;
  color: #5f0f40; }

h1 {
  font-size: 2em;
  color: #9a031e;
  margin-block-end: 0; }

h2 {
  font-size: 1.2em;
  margin-block-start: 0;
  color: #9a031e; }

h3 {
  font-size: 1.2em; }

h1,
h2,
h3 {
  font-family: "Mali", cursive;
  line-height: normal;
  color: #5f0f40; }

h1 {
  font-size: 2.5em;
  color: #9a031e;
  margin-block-end: 0; }

h2 {
  font-size: 1.5em;
  margin-block-start: 0;
  color: #9a031e; }

h3 {
  font-size: 1.5em; }

a {
  color: #000000; }
  a:hover {
    color: #CE5A12; }
  a:visited {
    color: #9A031E; }

p {
  font-family: "Lora", serif;
  color: #000000; }

@media screen and (min-width: 426px) {
  h1 {
    font-size: 3em; } }
@media screen and (min-width: 910px) {
  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto; }

  div#zen-summary.summary p:first-of-type {
    padding-left: 100px;
    padding-right: 100px; }

  div#zen-summary.summary p {
    text-align: center; }

  .intro {
    grid-column: 5/12; }

  [role=banner] {
    text-align: center; }

  .main {
    grid-column: 5/12;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; }

  .explanation {
    grid-column: 1/4;
    padding-right: 3em; }

  .participation {
    grid-column: 4/8; }

  .benefits {
    grid-column: 1/8; }

  .requirements {
    grid-column: 1/8; }

  footer {
    grid-column: 1/-1; }

  .sidebar {
    grid-column: 5/12;
    grid-row: 3; }

  .wrapper {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 2em; }
    .wrapper li {
      list-style: none; }
    .wrapper .design-selection {
      list-style: none;
      grid-column: 1/3; }
    .wrapper .design-archives {
      grid-column: 3/4; }
    .wrapper .zen-resources {
      grid-column: 4/5; }
    .wrapper h3.select,
    .wrapper h3.resources,
    .wrapper h3.archives {
      margin: 7px; }
    .wrapper ul {
      margin: 0;
      padding: 0; } }
@media screen and (max-width: 1250px) {
  body {
    background-image: url(./images/treeupdate.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light; } }
body {
  background-color: #C6BAA9; }

.extra5 {
  background-image: url(./images/pumpkins.png);
  height: 115px;
  background-size: 262px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  bottom: 100px;
  padding: 30px; }

footer::after {
  content: "Tree image found at clipartix.com (fall tree clipart #61010). Pumpkins found at clipartmax.com. Liscensed for personal use.";
  font-size: 13px;
  color: #0f4c5c; }

@media screen and (max-width: 425px) {
  .page-wrapper {
    background-image: url(./images/leaves-1.png);
    background-size: 400px;
    background-color: #C6BAA9;
    background-repeat: repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light; }

  ul {
    list-style: none; }

  h3.select,
  h3.resources,
  h3.archives {
    margin: 10px; }

  ul {
    margin: 10px;
    padding-bottom: 25px;
    padding-left: 0; } }
@media screen and (max-width: 910px) and (min-width: 426px) {
  body {
    background-image: url(./images/small_section.png);
    background-size: 400px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-blend-mode: soft-light; }

  .page-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-right: 10px; }

  .intro {
    grid-column: 3/6;
    text-align: right; }

  #zen-supporting {
    grid-column: 3/6;
    text-align: right; }

  .sidebar {
    grid-column: 2/6; }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); }

  ul {
    list-style-type: none; } }
@media screen and (min-width: 910px) {
  .main_div {
    margin: auto;
    border: 3px solid black;
    width: 40%;
    padding: 5px; }

  body {
    background-image: url(./images/treeupdate.png);
    background-size: 450px;
    background-repeat: no-repeat;
    background-attachment: fixed; }

  .extra5 {
    background-image: url(./images/pumpkins.png);
    height: 250px;
    background-size: 575px;
    background-repeat: no-repeat; } }

/*# sourceMappingURL=style.css.map */
